*{
    text-decoration: none ;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* background-color: rgb(0, 0, 0); */
    /* color: white; */
    /* color: black; */
    font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ol li{
    list-style-type: circle;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

h1{
    
    text-align: center;
    font-size: 200%;
    margin: 0;
    margin-top:5%;
}
/* h2{
    color: #01BB77;
} */
h3{
    text-align: center;
    font-size: 150%;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    
}
li{
    font-size: 150%;
}
ol li{
    font-size: 130%;
    padding-bottom: 5%;
}
ol li b{
    color: #ca1515;
}
.color_to_green{
    color: #01BB77;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
    /* color: black; */
    height: 50%;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px, rgba(0, 0, 0, 0.22) 0px 10px 5px; */
    box-shadow: rgba(50, 50, 93, 0.25) 2px 5px 1px -2px, rgba(0, 0, 0, 0.3) 0px 3px 6px -3px;
}

.navbar .logo{
    margin-left: 5%;
}
.navbar .logo a{
    text-decoration: none;
}
.navbar .logo a img{
    /* height: 1000px; */
    width: 100px;
}

.navbar .logo a{
    color: black;
}

.navbarlinks ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbarlinks li{
    list-style:none;
    transition: 0.3s ease-in;
}

.navbarlinks li a{
    text-decoration: none;
    
    padding: 1rem;
    display: block;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.navbarlinks li:hover{
    /* background-color: #00c8fd; */
    background-color: #01BB77;
    /* color: white; */
    /* background-color: white; */
    /* color: black; */
    transition: 0.3s ease-in;
}
.navbarlinks li:hover a{
    /* color: white; */
     background-color: #01BB77;
    color: white; 

    transition: 0.3s ease-in;
}

.toggle-button{
    position: absolute;
    padding: 0.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 1.1rem;
    width: 1.5rem;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width:800px){
    .toggle-button{
        display: flex;
    }
    .navbarlinks{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbarlinks ul{ 
        width: 100%;
        flex-direction: column;
    }
    .navbarlinks ul li{
        text-align: center;
    }
    .navbarlinks ul li a{
        padding: 0.5rem 1rem;
    }
    .navbarlinks.active{
        display: flex;
    }
}
/* @media screen and (max-width: 1050px) {
    .top-container{
        background: url("../assets/images/background_image_1.jpeg");
        width: 100vw;
        height: 600px;
        background-size: cover;
    } 
} */


/* Footer */
.footer{
    background-color: #000;
    color: white;
    /* margin-bottom: 0;  */
    /* bottom: 0; */
    margin-top: auto;
    /* position:absolute; */
    /* position: fixed; */
    width: 100%;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer a:hover{
    color: #f8ce0b;
}
.footer .upperbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer .message{
    text-align: center;
    margin: 0;
    padding: 2%;
}
.footer .social-media a{
    text-decoration:  none;
}

.footer .upperpart{
    display: flex;
    flex-direction: column;
}
.footer .upperpart .totalpart{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fa-facebook{
    color: white;
}
.fa-twitter{
    color: white;
    /* color: #1DA1F2; */
}
.fa-youtube{
    color: white;
    /* color: #FF0000; */
}
.fa-instagram{
    color: white;
    /* color: #E1306C; */
}
.fa-linkedin{
    color: white;
    /* color: #0077b5; */
}

/* Home Page */
/* .top-container img{ */
    /* height: 80vh; */
    /* margin-bottom: 0%; */
    /* background: url("../assets/images/background_image_1.jpeg"); */
    /* background: url("../assets/images/background_image2.jpeg"); */
    /* width: 100%; */
    /* height: 150%; */
    /* height: 80vh; */
    
/* } */
.top-container{
    background: url("../assets/images/background_image2_modified.png");
    /* min-height: 90vh; */
    height: 90vh;
    width: 100vw;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 2%;
    background-repeat: no-repeat;
    /* overflow: ; */
    background-size: 100% 100%;

}
.middle-container{
    margin: 2% 20% 5% 20%;
    font-size: 150%;
    background-color: white;
    padding: 5% 10% 5% 10%;
}


/* .top-container img{
    width: 100vw;
    height: 100vh;
} */
@media screen and (max-width: 800px){
    
   .top-container{
         background: url("../assets/images/background4.jpeg");
         background-repeat: no-repeat;
         height: 90vh;
         width: 100vw;
         /* margin-left: 4%; */
         /* margin-right: 5%; */
         margin-left: 0%;
         margin-right: 0%;
         margin-bottom: 5%;
         background-size: 100% 100%;
    }
}
@media screen and (max-width: 500px){
    h1{
        font-size: 130%;
        color: white;
    }
    /* .color_to_green{ */
        /* color: white; */
    /* } */
    .top-container{
        /* opacity: 50%; */
          background: url("../assets/images/background3.webp");
          background-repeat: no-repeat;
          height: 60vh;
          width: 100vw;
          background-size: 100% 100%;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 10%;
     }
 }
/* About us page */
/* .complete-page{ */
    /* margin: 5% 5% 0% 5%; */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
/* } */
.complete-page{
    background-color:#f9f9f9;
    display: flex;
    flex-direction: column;
    
}
.about-us-container{
    margin-top: 5%;
}
.about-us-container{
    /* background-color: #08cc34; */
    /* background-color: black; */
    background-color: white;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    /* color: black; */
    /* background-color: #08cc34; */
    /* background-color: #0e192a; */
    /* background-color: #c3141d; */
    /* background: linear-gradient(130deg, #c3141d 50%, #08cc34 50%); */
    /* background: linear-gradient(130deg,#F9ED4E,#F6B042); */
    /* background-color: #00b712; */
    /* background: #00d500; */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    /* box-shadow: 5px 10px #888888; */
    /* text-shadow: 2px 2px; */
    /* background-image: linear-gradient(330deg, #00b712 60%, #5aff15 94%); */
    padding-left: 5%;
    padding-right: 5%;
}
.about-us-container p{
    /* background-color: linear-gradient(90deg, white 50%, #c3141d 50%); */
    /* color: #533549; */
    /* color: white; */
    /* color: aliceblue; */
    color: #000;
    font-size: 150%;
}
.last-container{
    background-color: white;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}
.last-container .famous-investors{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}
.last-container .famous-investors img{
    border-radius: 100%;
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* width: 20%; */

    /* height: 10%; */
    /* overflow: hidden; */
}
.last-container .team-members{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}
.last-container .team-members .card-name{
    text-align: center;
}
.last-container .team-members .card-name img{
    /* border-radius: 60%; */
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* padding-left: 10%; */
    /* width: 20%; */

    /* height: 10%; */
    overflow: hidden;
}
/* .last-container .team-members img{
    border-radius: 60%;
    width: 10%;

    /* width: 20%; */

    /* height: 10%; */
    /* overflow: hidden; */
/* }  */
/* 
@media screen-width and (max-width: 700px) {
    .about-us-container p{
        font-size: 10%;
    }
    .last-container .team-members .card-name img{
        width: 50%;
    }
    .last-container .famous-investors .img{
        width: 50%;
    }
} */

/* Contact Us page */

.front{
    background: #00c8fd;
    background-size: cover;
    height: 100%;
    color: white;
}
.front h1{
    font-size: 4vw;
    padding-top: 2.5%;
    margin-bottom: 5%;
}

.container-contact-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container-contact-1 .box{
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-contact-1 .box i{
    font-size: 2vw;
    margin-bottom: 5%;
}


.container-contact-2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-contact-2 form .box-out{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container-contact-2 form .box-out .box{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.container-contact-2 form .box-out .box textarea{
    width: 100%;
    height: 100%;
}

.container-contact-2 input[type=text], select, textarea{
    /* width: 100%; */
    padding: 4%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 3%;
    margin-bottom: 3%;
    resize: none;
} 

.container-contact-2 input[type=submit] {
    background-color: white;
    color: black;
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin:2%;
}

.container-contact-2 input[type=submit]:hover {
    /* background-color: #45a049; */
    background-color: lightblue;
    color: white;
}

.container-contact-2 {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    /* padding: 5%; */
}
.submit-button{
    border: none;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    margin: 2%;
    padding: 1%;
    font-size: 120%;
    cursor: pointer;
}

.submit-button:hover{
    color: #00c8fd;
}


/* Events Page */


/* CSS reset */
main *,
main *::after,
main *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


/* Typography =======================*/

/* Headings */

/* Main heading for card's front cover */
.card-front__heading {
  font-size: 1.5em;
  margin-top: .25em;
  text-align: center;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1em; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3em;
  font-weight: 800;
  margin-top: .2em;
}

.inside-page__heading--city,
.card-front__text-view--city { color: #ff62b2; }

.inside-page__heading--ski,
.card-front__text-view--ski { color: #2aaac1; }

.inside-page__heading--beach,
.card-front__text-view--beach { color: #fa7f67; }

.inside-page__heading--camping,
.card-front__text-view--camping { color: #00b97c; }

/* Front cover */

.card-front__tp { color: #fafbfa; }

/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2em;
  margin-top: -.2em;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25em;
  margin-top: -.5em;
  width: 3.25em;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5em;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 2em;
  overflow: hidden;
  padding: .7em .75em;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city { 
  border-color: #ff40a1;
  color: #ff40a1;
}

.inside-page__btn--city::before { 
  background-color: #ff40a1;
}

.inside-page__btn--ski { 
  border-color: #279eb2;
  color: #279eb2;
}

.inside-page__btn--ski::before { 
  background-color: #279eb2;
}

.inside-page__btn--beach { 
  border-color: #fa7f67;
  color: #fa7f67;
}

.inside-page__btn--beach::before { 
  background-color: #fa7f67;
}

.inside-page__btn--camping { 
  border-color: #00b97d;
  color: #00b97d;
}

.inside-page__btn--camping::before { 
  background-color: #00b97d;
}

.inside-page__btn:hover { 
  color: #fafbfa;
}

.inside-page__btn:hover::before { 
  transform: scaleY(1);
}

/* Layout Structure=========================================*/

.main {
  background: linear-gradient(
    to bottom right,
    #eee8dd,
    #e3d9c6
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  height: 100%;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 1em;
}



/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 75%;
  
  justify-content: center;
  overflow: hidden;
  width: 25%;
  padding: 2%;
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15em;
  position: relative;
  transition: all 1s ease;
  width: 20%;
}

@media screen and (max-width: 780px) {
      .card{
        /* display: none; */
        background-color: rgba(0,0,0, .05);
        box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
        /* height: 15em; */
        position: relative;
        transition: all 1s ease;
        /* width: 200%; */
      }

} 
@media screen and (max-width: 850px) {
    .card-area{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        /* overflow: hidden; */
        padding: 0;
        /* padding: 1em; */
     }
     .card-section {
        align-items: center;
        display: flex;
        height: 50%;
        justify-content: center;
        /* overflow: hidden; */
        width: 150%;
        padding: 2% 2% 2% 2%;
      }
      .card{
        background-color: rgba(0,0,0, .05);
        box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
        height: 15em;
        position: relative;
        transition: all 1s ease;
        width: 100%;
      }
      .card-front__heading {
        font-size: 100%;
        margin-top: .25em;
        text-align: center;
      }
      
} 
@media screen and (max-width: 1400px) {
    .card-area{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-between;
        overflow: hidden;
        padding: 5%;
     }
     .card-section {
        align-items: center;
        display: flex;
        height: 50%;
        justify-content: center;
        overflow: hidden;
        width: 50%;
        padding: 2%;
      }
      .card {
        background-color: rgba(0,0,0, .05);
        box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
        height: 15em;
        position: relative;
        transition: all 1s ease;
        width: 20%;
      }
      
} 
/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15em;
  perspective: 100em;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15em;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 15em;
  width: 15em;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12em;
  justify-content: center;
  padding: .75em;
}

.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #ff73b9,
    #ff40a1
  );
}

.card-front__tp--ski {
  background: linear-gradient(
    to bottom,
    #47c2d7,
    #279eb2
  );
}

.card-front__tp--beach {
  background: linear-gradient(
    to bottom,
    #fb9b88,
    #f86647
  );
}

.card-front__tp--camping {
  background: linear-gradient(
    to bottom,
    #00db93,
    #00b97d
  );
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20em 0px 5em -2.5em rgba(0,0,0,0.25);
  height: 100%;
  padding: 1em;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15em;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

.inside-page ul li{
    font-size: 100%;
}
/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow:
  -.1em 1.7em 6.6em -3.2em rgba(0,0,0,0.75);
  width: 30em;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
  box-shadow: inset 1em 0px 5em -2.5em rgba(0,0,0,0.1);
}





/* ------------------------- */
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1em;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 5%;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 5%;
    width: 5%;
    height: 5%;
    margin-left: 5%;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  .articles *,
  .articles *::before,
  .articles *::after {
    box-sizing: border-box;
  }
  
  /* body {
    margin: 0;
    padding: 48px 0;
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
  } */
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 5%;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 5%;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 20% 1fr;
      gap: 3%;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }